<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ioasys_fase2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ioasys_Fase2">
        <activity android:name=".CardDescriptionFragment"></activity>
        <activity android:name=".CongratsFragment" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".HowToPlayFragment" />
        <activity android:name=".HardGameFragment" />
        <activity android:name=".MediumGameFragment" />
        <activity android:name=".EasyGameFragment" />
        <activity android:name=".GlossaryFragment" />
        <activity android:name=".AboutTheIdeaFragment" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>